version: '3'

services:
  hub:
    image: jupyter/datascience-notebook
    ports:
    - "8888:8888"
    volumes:
    - ".:/home/jovyan/work/"
    environment:
    - "JUPYTER_ENABLE_LAB=yes"
    - "GEN_CERT=yes"
